<h2>All Historical Landmarks</h2>

<!-- add content here -->

<% @landmarks.each do |l| %>
    <h3><%= l.name %> </h3>
    <p><%= l.year_completed %> </p>
<% end %>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>