<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">

    <label>Name</label>
    <input type="text" name="landmark[name]" id="landmark_name">
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

    
    <input type="submit" value="Create New Landmark">
</form>

