<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit figures</a>
<br>
<a class="button" href="/figures">figures</a>
